* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
body{
    color:rgb(255, 255, 255);
    background-color:aliceblue;
    background:linear-gradient(rgb(146, 210, 230),rgb(99, 163, 86));
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 5rem;
}
.body-about{
    color:rgb(255, 255, 255);
    background-color:aliceblue;
    background:linear-gradient(rgb(146, 210, 230),rgb(99, 163, 86));
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 5rem;
    background-repeat: no-repeat;
    height: 100vh;
}

.hot{
    color:rgb(255, 255, 255);
    background-color:aliceblue;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-repeat: no-repeat;
}
header{
    background-color: rgb(45, 59, 45);
    color: rgb(2, 15, 27);
    font-size: 1.5em;
    padding: 20px;
    background-repeat: no-repeat;
    background-image: url("/home/stud/Рабочий стол/jeeptour/Jeep-Tour-main/Jeep-Tour-main/картинки/ДЛЯЛОГО.webp");
}

.main {
    text-align: center;
    padding: 60px 20px;
}

.logo{
    padding: 50px;
    font-size: 1.5em;
}

h2{
    color: rgb(40, 80, 40);
    background-color:rgb(183, 235, 199);
    text-align: center;
}

.nado{
    color: rgb(255, 255, 255);
    text-align: center;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    gap: 25px;
}

.nav-menu {
    display: flex;
    gap: 5vw;
    color:aliceblue;
    list-style:none;
}

.nav-menu li a{
    color:aqua;
    text-decoration: none;
}


.img {
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.hot-tours{
    display:flex;
    flex-wrap: wrap;
    color: rgb(40, 80, 40);
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    transition: all 0.3s;

}

.hot-tour{
    flex: 1 0 300px; 
    min-width: 250px;
    max-width: 350px;
    background-color:rgb(183, 235, 199);
    color: rgb(40, 80, 40);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.3s;
    animation: ch-color 2s infinite;
}

.btn {
    display: inline-block;
    background:  rgb(65, 109, 67);
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s;
    animation: pulse 2s infinite;
} 

.btn:hover{
    background: linear-gradient(rgb(86, 97, 136), rgb(149, 218, 170));
    transform: scale(1.05);
}

.opisanie{
    color: rgb(40, 80, 40);
    text-align:left;
}

.h-z{
    text-align: center;
    font-size: 1.9em;
    color:aliceblue;
}

@media (max-width: 1024px){
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }
    .hot-tour{
        flex: 1 1 calc(50%-20px);
    }
    .gallery-img{
        display: grid;
    }
}

@media (max-width: 425px){
    .container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.hot-tour:hover{
    box-shadow: 0 10px 30px #265f51;
    transform:scale(1.2) translateY(-3px)
}


/* Галерея на Grid */
.gallery {
    padding: 60px 20px;
    background-color: none;
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.gallery-item {
    background: rgb(154, 216, 187);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
} 


@keyframes pulse {
    0% { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}

@keyframes ch-color {
    0% { background:linear-gradient(rgb(149, 218, 170), rgb(255, 255, 255))}
    25% {background:linear-gradient(rgb(149, 218, 170), rgb(255, 255, 255),rgb(149, 218, 170))}
    50% { background:linear-gradient(rgb(255, 255, 255), rgb(149, 218, 170))}
    75% {background:linear-gradient(rgb(149, 218, 170), rgb(255, 255, 255),rgb(149, 218, 170))}
    100% { background:linear-gradient(rgb(149, 218, 170), rgb(255, 255, 255))}
}

.card{
    align-items: center;
    text-align: center;
    padding: 60px 20px;
}